body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: antiquewhite;
}
.title-word{
    animation: color-animation 6s linear infinite;
}

.word1{
    --color-1: #8a2b2b;
    --color-2: #3f9385;
    --color-3: #6d377d;
}

.word2{
    --color-1: #a3a909;
    --color-2: #17486f;
    --color-3: #7c9f22;
}

.word3{
    --color-1: #b0731e;
    --color-2: #06672f;
    --color-3: #801d5a;
}

@keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
}

.header {
    display: flex;
    justify-content: center;
    text-align: center;
    /* height: 100vh */
}

.title {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 4.5vw;
    text-transform: uppercase;
    margin: 0;
}



/* GRID */

:root{
    --gridCol: 1;
    --gridRow: 1;
}

.etch{
    height: 500px;
    width: 750px;
    background-color: #e1cece;
    margin: auto;
    border: 35px solid #ff1500;
    border-radius: 20px;
}

#grid-container{
    display: grid;
    height: 500px;
    grid-template-columns: repeat(var(--gridCol), 1fr);
    grid-template-rows: repeat(var(--gridRow), 1fr);
    grid-gap: 1px;
}

.sketch{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    padding: 0 500px;
    width: 900px;
}

.sketch p{
    font-size: 30px;
    color: red;
}

.sketch button{
    background-color: red;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    color: antiquewhite;
    font-size: 20px;
    
    
}

.sketch button:hover{
    scale: 1.3;
    background-color: yellow;
    color:black;
}

#colorpicker{
    border: none;
    background-color: antiquewhite;
}

.mode{
    margin-left: 10px;
}




/* FOOTER */
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: antiquewhite;
    background-color: black;
}